* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top right, #100016, #20002c, #3d0268 100%);
  background-size: cover;
  background-repeat: no-repeat;
}
#titleScreen {
  position: absolute;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
#banner {
  width: 700px;
}
#start {
  width: 300px;
}
#cutscene {
  visibility: hidden;
  position: absolute;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width:40%;
  height:40%;
  font-family: 'Potta One', cursive;
  font-size: 36px;
  color: white;
  text-align:center
}
#gameArea {
  visibility:hidden;
}
#squareArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#topScreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 500px;
  height: 111px;
  background-image: url('./images/screen.png');
  background-size: auto;
}
#scoreDisplay {
  display:flex;
  flex-flow: row wrap;
  align-items: flex-end;
  width: 40%;
  height: 80%;
}
.info {
  width: 50%;
  height: 50%;
  font-family: 'Press Start 2P', cursive;
  font-size: 11px;
  text-align:center;
  vertical-align: middle;

}
#floor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 500px;
  background-image: url('./images/floor.png');
  background-size:contain;
  border: 5px solid black;
}
#danceFloor  {
  display: flex;
  flex-flow: row wrap;
  width: 350px;
  height: 350px;
  border: 5px solid black;
  border-radius: 10px;
}
.tile {
  border: 1px solid rgb(43, 43, 43);
}
#grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 500px;
  height: 500px;
}
#mobButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#LR {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* #fire {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
} */
#info {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cell {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.empty { 
  background: white
}
.enemy {
  background: url('./images/zommale.png');
  background-size:cover;
}
.player {
  background: url('./images/player.png');
  background-size: cover;
}
.life {
  background: url('./images/life.png');
  background-size: cover;
}
.squad {
  background: url('./images/squad.png');
  background-size: cover;
}
.squadLeft {
  background: url('./images/squadleft.png');
  background-size: cover;
}
.squadRight {
  background: url('./images/squadright.png');
  background-size: cover;
}
.splat {
  background: url('./images/splat.png');
  background-size: cover;
}
.POL {
  background: url('./images/POL.png');
  background-size: cover;
}
.boss1 {
  background: url('./images/boss1.png');
  background-size:contain;
  background-repeat: no-repeat;
}
.boss2 {
  background: url('./images/boss2.png');
  background-size:contain;
  background-repeat: no-repeat;
}
.boss3 {
  background: url('./images/boss3.png');
  background-size:contain;
  background-repeat: no-repeat;
}
.boss4 {
  background: url('./images/boss4.png');
  background-size:contain;
  background-repeat: no-repeat;
}
.boss5 {
  background: url('./images/boss5.png');
  background-size:contain;
  background-repeat: no-repeat;
}
.boss6 {
  background: url('./images/boss6.png');
  background-size:contain;
  background-repeat: no-repeat;
}

.bulletPic {
  position: absolute;
  object-fit: contain;
  z-index: 0;
}
.bottlePic {
  position: absolute;
  object-fit: contain;
  z-index: 1;
}
.cleared {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  position:absolute;
  text-align: center;
  width: 500px;
  height: 200px;
  background: radial-gradient(#434343, #000000);
  font-size: 36px;
  color: rgb(238, 50, 175);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: 'Potta One', cursive;
} 
.victoryDisplay, .gameOverDisplay {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  text-align: center;
  position:absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(#434343, #000000);
  font-family: 'Potta One', cursive;
  font-size: 36px;
  color: rgb(238, 50, 175);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.gameOver {
  width: 80%;
}
.victoryText {
  text-align: center;
  font-family: 'Potta One', cursive;
  font-size: 36px;
  color: rgb(238, 50, 175);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  
}
.playAgain, .tryAgain {
  text-align:center;
  padding: 15px;
  color: rgb(238, 50, 175);
  border: 6px solid rgb(238, 50, 175);
  border-radius: 50%;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: 'Potta One', cursive;
}

@media (max-width:400px) { 

  body {
    width: 100%vw;
    background-repeat:no-repeat;
  }

  #banner {
    width: 95%;
  }
  #start {
    width: 60%;
  }
  #cutscene {
    width: 80%;
    font-size: 20px;
  }
  #floor, #grid {
    width: 370px;
    height: 370px;
  }
  #danceFloor {
    width: 280px;
    height: 280px;
  }
  #topScreen {
    width: 370px;
    height: 82px;
    background-size:cover;
  }
  .cleared {
    width:370px;
    height: 148px;
  }
  .victoryDisplay, .gameOverDisplay {
    width: 370px;
    height: 370px;
  }
  .victoryText {
    font-size: 20px;
  }
  /* .bulletPic {
    object-fit:none;
    height: 30px;
    width: auto;
  }
  .bottlePic {
    object-fit:none;
    height: 40px;
    width: 40px;
  } */
}


