* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border: 1px solid black
}
#info {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cell {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.empty { 
  background: white
}
.enemy {
  background: green;
}
.player {
  background: blue;
}
.life {
  background: red;
}
.squad {
  background: black;
}
.squadLeft {
  background: purple;
}
.squadRight {
  background: pink;
}
.POL {
  background: turquoise;
}
.boss1 {
  background: rgb(255, 176, 189);
}
.boss2 {
  background: rgb(255, 139, 158);
}
.boss3 {
  background: rgb(255, 99, 125);
}
.boss4 {
  background: rgb(255, 58, 91);
}
.boss5 {
  background: rgb(247, 13, 52);
}
.boss6 {
  background: rgb(184, 18, 46);
}
.boss7 {
  background: rgb(143, 16, 37);
}
.boss8 {
  background: rgb(104, 15, 30);
}
.bulletPic {
  position: absolute;
  object-fit: contain;
  z-index: 0;
}
.bottlePic {
  position: absolute;
  object-fit: contain;
  z-index: 1;
}
.cleared {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  position:absolute;
  width: 500px;
  height: 200px;
  background: black;
  color: white;
  font-size: 36px;
} 
.victoryDisplay, .gameOverDisplay {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  position:absolute;
  width: 500px;
  height: 500px;
  background: black;
  font-size: 36px;
  color: white;
}
.victoryText, .gameOverText {
  text-align: center;
  font-size: 36px;
  color: white;
}
.playAgain, .tryAgain {
  text-align:center;
  color: white;
}
